.navigationBackdrop {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: -100;
  transition: all 300ms;

  @media screen and (min-width: 1121px) {
    display: none !important;
  }

  &_isShown {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 98;
    display: block;
  }
}
